@model IEnumerable<WebApplication.Models.Pig>
@{
    ViewBag.Title = "Свиньи";
}
<a asp-action="Create">Добавить Свинью</a>
<table class="table">
    <tr>
        <td>Имя</td>
        <td>Возраст</td>
        <td>Цена</td>
    </tr>
    @foreach (var Pig in Model)
    {
        <tr>
            <td>@Pig.Name</td>
            <td>@Pig.Age</td>
            <td>@Pig.Price</td>
            <td>
            <a asp-action="Edit" asp-controller="Home" asp-route-id="@Pig.Id">Изменить</a> |
            <a asp-action="Delete" asp-controller="Home" asp-route-id="@Pig.Id">Удалить</a>
            </td>
        </tr>
    }
</table>

